:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: row;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #dbdbdb;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  display: flex;
  gap: 25px;
}

.card {
  background-color: #ffff;
  color: #000000;
  border-radius: 20px;
  min-width: 200px;
  min-height: 400px;
  padding: 20px;
}

.clear-resume {
  color: red;
}

.clear-resume > img {
  width: 16px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.cv-container {
  font-family: 'Arial', sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cv-container__top {
  text-align: center;
}

.cv-container__top__name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.top__details__list {
  list-style: none;
  padding: 0;
}

.top__details__list__item {
  margin: 5px 0;
}

.cv-container__middle {
  margin-top: 20px;
}

.middle__section__item {
  margin-bottom: 20px;
}

.middle__section__item__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.middle__section__item__details {
  display: flex;
  justify-content: space-between;
}

.item__details__left {
  flex: 1;
}

.item__details__right {
  flex: 2;
}

.item__details__left__date {
  font-weight: bold;
}

.item__details__left__location {
  color: #555;
}

.item__details__right__title {
  font-size: 18px;
  font-weight: bold;
}

.item__details__right__sub-title {
  font-style: italic;
  margin-bottom: 5px;
}

.item__details__right__description {
  margin-top: 5px;
}

